
<div class="pagestyle">
<br>
<h1 class="todoStyle2">{{title}}</h1>
<br>

<div class="todoStyle">
Enter new task: <input [(ngModel)]="userEntry" id="text"/>
<button class="buttonstyle" onclick="document.getElementById('text').value=''" (click)="addTask()">Add Task</button><br />
</div>


<br>
<ol class="todoStyle">
<div *ngFor="let todo of toDos; index as i">
  <button class="buttonstyle" *ngIf="!todo.completed" (click)="completeTask(i)">Mark as complete</button>
  {{todo.task}}
</div>
</ol>
</div>