
<div class="pagestyle">
<br>
<h1 class="todoStyle2">{{title}}</h1>
<br>

<div class="todoStyle">
Enter new task: <input [(ngModel)]="userEntry" id="text"/>
<button class="buttonstyle" onclick="document.getElementById('text').value=''" (click)="addTask()">Add Task</button><br />
</div>


<br>
<ol class="todoStyle">
<div *ngFor="let todo of toDos; index as i">
  <button class="buttonstyle" *ngIf="!todo.completed" (click)="completeTask(i)">Mark as complete</button>
  <button class="buttonstyle2" *ngIf="!todo.completed" (click)="deleteTask(i)">Remove</button>
  <div *ngIf="todo.completed;else nonComplete"><del>{{todo.task}}</del></div>
  <ng-template #nonComplete>{{todo.task}}</ng-template>
</div>
</ol>
<br>
<div class="todoStyle2" *ngIf="congrats()">GRATS!!! YOU DID ALL THE THINGS!!!!!</div>
</div>